@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* MAIN COVER */
.cover {
  background: url("../pics/space.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
}

/* SUBCOVERS */

.space {
  height: 100%;
  width: 75%;
  background: none;
  position: relative;

  /* ITEMS */
  .rocks {
    position: absolute;
    top: -50;
    left: 5;
    width: 5vw;
    height: 7vh;
    background: url(../pics/rock.png);
    background-size: cover;
    transition: all ease 1.5s;

    &.hit {
      animation: fadeOut 0.3s ease-out forwards;
      pointer-events: none;
    }
  }

  .shooter {
    height: 10vh;
    width: 5vw;
    position: absolute;
    bottom: 5vh;
  }

  .bullets {
    height: 7vh;
    width: 2.5vw;
    position: absolute;
    left: 40px;
    bottom: 40px;
  }
}

.stats {
  height: 100%;
  width: 25%;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .score {
    height: 40%;
    width: 80%;
    background-color: #b1b1ff;
    border-radius: 15px;
    font-size: 20vh;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .info {
    height: 25%;
    width: 80%;
    background-color: #b1b1ff;
    border-radius: 15px;
    font-size: 5vh;
    font-weight: 800;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
  }

  .again {
    height: 15%;
    width: 80%;
    background-color: #b1b1ff;
    border-radius: 15px;
    font-size: 3vh;
    font-weight: 800;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;

    .timer {
      font-size: inherit;
      font-weight: inherit;
    }
  }

  .again:hover {
    background-color: #7c7cfc;
  }
}

.disable {
  pointer-events: none;
  opacity: 0.2;
}

/* Add these with your other animations */
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(1.2);
  }
}
